* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --brand-color: #C06C37;
    --bg-color: #F9F9F9;
    --darkgray-text: #333333;
    --gray-text: #848484;
    --lightgray-text: #ffffff99;
    --navfoot-wide: 1900px;
    --max-wide: 1800px;
    --min-wide: 1600px;
}

.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.navbar-section {
    height: 60px;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 900;
    background-color: var(--bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    max-width: var(--navfoot-wide);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 28px;
}

.navbar-section a,
.navbar-section button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--darkgray-text);
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--brand-color);
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

.nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nav-logo img {
    height: 30px;
    display: block;
}

.nav-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-icon i {
    font-size: 23px;
    transition: all 0.3s ease;
}

.nav-menu a:hover,
.nav-icon a:hover,
.nav-icon button:hover {
    color: var(--brand-color);
}

.nav-icon a:hover i,
.nav-icon button:hover i {
    color: var(--brand-color);
}

.search-box {
    background-color: transparent;
    height: 40px;
    border-radius: 40px;
    padding: 0; 
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.4s ease;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 0px;
    color: var(--darkgray-text);
    font-size: 16px;
    transition: 0.4s ease;
    line-height: 40px;
}

.search-btn {
    color: var(--darkgray-text);
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.search-box:hover .search-text,
.search-text:focus {
    width: 250px;
    padding-left: 15px;
}

.search-box:hover,
.search-box:has(.search-text:focus) {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.search-box:hover .search-btn i,
.search-text:focus + .search-btn i {
    color: var(--brand-color);
}

.cover-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Cover\ Photo.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cover-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.cover-tag {
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.102);
    backdrop-filter: blur(2px);
}

.cover-box h1 {
    font-size: 80px;
    font-weight: 700;
    color: var(--bg-color);
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cover-box p {
    font-size: 26px;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 40px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.explore-btn {
    padding: 15px 30px;
    background: transparent;
    border: 2px solid var(--brand-color);
    border-radius: 5px;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.explore-btn:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.featured-text {
    max-width: var(--max-wide);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: var(--bg-color);
    position: relative;
    z-index: 10;
}

.featured-text p {
    font-size: 60px;
    font-weight: 600;
    color: var(--brand-color);
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.seeall-btn {
    padding: 10px 25px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.seeall-btn:hover {
    background-color: var(--brand-color);
    color: var(--bg-color);
    border-color: var(--brand-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.featured-section {
    max-width: var(--max-wide);
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--bg-color);
    position: relative;
    z-index: 10;
}

.product-card {
    width: calc(25% - 15px);
    border: 2px solid transparent;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-12px);
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--brand-color);
    padding: 8px;
    background-color: var(--bg-color);
    z-index: 10;
}

.product-image {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
}

.product-image img {
    height: auto;
    width: 100%;
    transition: opacity 0.3s ease;
}

.product-image .hover-img {
    display: none;
    opacity: 0;
}

.product-card:hover .primary-img {
    display: none;
    opacity: 0;
}

.product-card:hover .hover-img {
    display: block;
    opacity: 1;
}

.product-name {
    display: flex;
    justify-content: space-between;
}

.product-name h5 {
    font-weight: 500;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.product-name p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-text);
    padding-top: 10px;
    padding-right: 10px;
}

.product-price p {
    text-align: left;
    color: var(--brand-color);
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.product-price p i {
    text-align: left;
    color: var(--gray-text);
    font-weight: 400;
    font-size: 20px;
}

.product-btn {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 45px;
    gap: 8px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .product-btn {
    opacity: 1;
}

.wishlist {
    flex: 0 0 45px;
    padding-top: 5px;
}

.add,
.buy {
    flex: 1;
    transition: 0.3s;
}

.wishlist button,
.add button,
.buy button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    font-size: clamp(0.1rem, 15cqi, 1.5rem);
    white-space: nowrap;
}

.wishlist button {
    border: none;
    color: var(--brand-color);
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}

.wishlist button i {
    font-size: 2.5rem;
}

.wishlist button:hover {
    color: var(--darkgray-text);
    transform: translateY(-3px);
}

.add button,
.buy button {
    width: 100%;
    padding: 12px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid var(--brand-color);
}

.add button {
    background: var(--bg-color);
    color: var(--brand-color);
}

.buy button {
    background: var(--brand-color);
    color: var(--bg-color);
}

.add:hover,
.buy:hover {
    background: var(--darkgray-text);
    flex: 1.5;
}

.add:hover button,
.buy:hover button {
    background: var(--darkgray-text);
    color: var(--bg-color);
    border: 2px solid var(--darkgray-text);
}

.section-header {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-color);
    position: relative;
}

.section-header h1 {
    color: var(--brand-color);
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.section-header p {
    font-size: 25px;
    font-weight: 400;
    color: var(--darkgray-text);
    margin-bottom: 5px;
}

.category-section {
    display: flex;
    height: 80vh;
    max-width: var(--min-wide);
    width: calc(100% - 40px);
    margin: 0 auto;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--bg-color);
    position: relative;
    z-index: 10;
}

.category-image {
    position: relative;
}

.category-image,
.category-info {
    flex: 0 0 50%;
    width: 50%;
    box-sizing: border-box;
}

.category-image img {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
    object-position: bottom center;
}

.category-info {
    background-color: var(--brand-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    color: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.category-info::before {
    content: 'PACE';
    position: absolute;
    bottom: -30px;
    right: -20px;
    font-size: 200px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.08);
    font-family: sans-serif;
    line-height: 1;
    z-index: 0;
    pointer-events: none;
}

.category-info h1 {
    font-size: 100px;
}

.category-info p {
    font-size: 30px;
    margin-bottom: 25px;
}

.category-info button {
    padding: 12px 30px;
    background-color: var(--bg-color);
    color: var(--brand-color);
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.category-info button:hover {
    background-color: var(--darkgray-text);
    color: var(--bg-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.arrow-prev,
.arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--lightgray-text);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.arrow-prev:hover,
.arrow-next:hover {
    background: var(--bg-color);
}

.arrow-prev i,
.arrow-next i {
    font-size: 24px;
    color: var(--darkgray-text);
    display: flex;
}

.arrow-prev {
    left: 20px;
}

.arrow-next {
    right: 20px;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg-color);
    position: relative;
    z-index: 20;
    max-width: var(--min-wide);
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.shoe-card {
    flex: 1;
    min-width: 300px;
    text-align: left;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 5px solid transparent;
}

.shoe-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid var(--brand-color);
    z-index: 30;
}

.shoe-card img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
    opacity: .1;
    transition: opacity 0.3s ease;
}

.shoe-card:hover img {
    opacity: 1;
}

.card-text {
    padding: 30px;
}

.shoe-card h3 {
    color: var(--brand-color);
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.shoe-card p {
    color: var(--darkgray-text);
    font-size: 18px;
    font-weight: 400;
}

.contact-section {
    max-width: var(--min-wide);
    margin: 0 auto;
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 750px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
}

.contact-image {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1.2);
}

.contact-box {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--bg-color);
}

.contact-content h3 {
    color: var(--brand-color);
    font-size: 18px;
    padding-bottom: 10px;
}

.contact-content p {
    color: var(--darkgray-text);
    font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--bg-color);
    font-size: 18px;
    background: var(--bg-color);
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    border-radius: 2px;
}

input:focus,
textarea:focus {
    border-color: var(--brand-color);
    background: var(--bg-color);
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1);
}

textarea {
    height: 200px;
    resize: vertical;
}

.contact-btn {
    width: 100%;
    padding: 18px;
    background: var(--brand-color);
    color: var(--bg-color);
    border: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.contact-btn:hover {
    background-color: var(--darkgray-text);
    transform: translateY(-2px)
}

.category-text h1::after,
.about-text h1::after,
.contact-text h1::after,
.team-text h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--brand-color);
    margin: 15px auto 0 auto;
}

.team-section {
    display: flex;
    height: 650px;
    gap: 10px;
    max-width: var(--max-wide);
    width: 100%;
    padding: 0 20px;
    margin: 0 auto 20px auto;
    background-color: var(--bg-color);
}

.member-card {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: flex 0.5s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color);
}

.member-card:hover {
    flex: 2;
}

.member-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
    object-position: top center;
}

.member-card:hover img {
    filter: grayscale(0%);
}

.member-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    color: var(--bg-color);
    opacity: 0;
    transition: 0.3s;
    box-sizing: border-box;
}

.member-card:hover .member-info {
    opacity: 1;
}

.member-info h1 {
    margin: 0;
    font-size: 30px;
}

.member-info p {
    color: var(--brand-color);
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-section {
    background-color: black;
    color: var(--bg-color);
    padding: 60px 0px 20px;
    margin-top: 50px;
    width: 100%;
}

.footer-container {
    max-width: var(--navfoot-wide);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-column {
    text-align: left;
    min-width: 200px;
}

.footer-column h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-column a {
    display: block;
    color: var(--gray-text);
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: var(--bg-color);
}

.footer-column .social {
    display: flex;
    gap: 15px;
}

.footer-column .social a {
    font-size: 20px;
    display: inline-block;
}

.footer-column .social a i {
    font-size: 26px;
    color: var(--gray-text);
    transition: 0.3s;
}

.footer-column .social a:hover i {
    color: var(--bg-color);
}

.footer-bottom {
    max-width: 1850px;
    width: 100%;
    margin: 40px auto 0;
    padding: 20px 20px;
    border-top: 1px solid var(--darkgray-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--gray-text);
    box-sizing: border-box;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
}

.legal-links a {
    color: var(--gray-text);
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    font-size: 16px;
}

.legal-links a:hover {
    color: var(--bg-color);
}