*{
    margin: 0;
    padding: 0;
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 11pt;
}

body{
    height: 100vh;
    background-image: url(1\ cover.jpg);
    background-size: 110vh;
    background-position: right;
    overflow: hidden;
}

.title1{
    font-size: 3rem;
    font-weight: 1000;
    color: #C06C37;
    text-align: center;
}

.title2{
    font-size: 15px;
    font-weight: 500;
    color: rgb(63, 61, 61);
    text-align: center;
}

.signup-box{
    background-color: white;
    padding: 10px;
    height: 100vh;
    width: max(50%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
}

.input-box{
    width: min(400px, 100%);
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-border{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-field{
    box-sizing: border-box;
    width: 250px;
    padding: 9px;
}

.btn{
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 500px;
    border: none;
    background-color: #C06C37;
    color: white;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(44, 43, 43);
}

.link{
    text-decoration: none;
    color: #C06C37;
    font-weight: 500;
}
.link:hover{
    text-decoration: underline;
}

.forgot-box{
    margin-bottom: 10px;
}

.forgot{
    font-size: 11pt;
    text-decoration: none;
    color: #C06C37;
    font-weight: 500;
}

.forgot:hover{
    text-decoration: underline;
}
